{% extends "base.html" %}
{% load static i18n %}
{% block title %}Members{% endblock %}

{% block content %}
<div class="container">
  <h2>Consultation list</h2>

  <a class="btn btn-primary" href="{% url 'timetable:update' %}" role="button">Add</a>

  <div class="list-group">
    {% for consultation in consultation_list %}
      <a href="{% url 'timetable:detail' consultation.pk %}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ consultation }}</h4>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
